<style type="text/css">
	div.modal {
		display:block;
	}
	.reported {
		color: white;
		cursor: default;
	}
	.not_reported {
		color: #a11d27;
		cursor: pointer;
	}

@media (max-width: 480px) {

        .modal {
            height: 500px; /* Set a default max height of the modal (adjusted later)*/
            position: fixed; /* Display modal in the centre of your screen */
            overflow-y: scroll; /*  Ensure that the modal is scroll-able */
            -webkit-overflow-scrolling: touch; /* Avoid having to use 2 finger scroll on iOS    */
        }
        .modal.fade.in{
            top: 5px; /* Use more screen real estate */
        }
        .modal-body{
            /* Increase the max height of the modal body to try & avoid both it,
             * and the modal container having scroll bars which results in odd behavior */ 
            max-height: 2400px; 
        }   
    }

    /* Now adjust the height so it handles various screen sizes & orientations */
    /* You could make this as granular as you like, or have it more granular at common screen sizes
     * but it should start at the height we set on .modal (i.e. 500px) & work down */
    @media (max-width: 480px) and (max-height: 500px){.modal{ height: 450px}}
    @media (max-width: 480px) and (max-height: 450px){.modal{ height: 400px}}
    @media (max-width: 480px) and (max-height: 400px){.modal{ height: 350px}}
    @media (max-width: 480px) and (max-height: 350px){.modal{ height: 300px}}
    @media (max-width: 480px) and (max-height: 300px){.modal{ height: 250px}}
    @media (max-width: 480px) and (max-height: 250px){.modal{ height: 200px}}
    @media (max-width: 480px) and (max-height: 200px){.modal{ height: 150px}}

</style>
<div class="modal-header text-center">
	<i class="icon-ban-circle icon-large pull-left" tooltip="{{ 'HOME.MODAL.REPORT' | translate }}" ng-class="{reported: report_sent, not_reported: !report_sent}" ng-click="report()"></i>
	<button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
	<h2 style="padding-right:7px">{{details_view.title}}</h2>
	<p>
	<i>{{ 'DETAIL.BY' | translate }} {{details_view.author}}</i>
	</p>
</div>
<div class="modal-body">
	<div class="row">
		<span class="col-xs-6" ng-if="details_view.subtitle">{{ 'LIBRARY.ADD.SUBTITLE' | translate }}: {{details_view.subtitle}}</span>
		<span class="col-xs-6" ng-if="details_view.isbn">{{ 'LIBRARY.ADD.ISBN' | translate }}: {{details_view.isbn}}</span>
		<span class="col-xs-6" ng-if="details_view.volume">{{ 'LIBRARY.ADD.VOLUME' | translate }}: {{details_view.volume}}</span>
		<span class="col-xs-6" ng-if="details_view.edition">{{ 'LIBRARY.ADD.EDITION' | translate }}: {{details_view.edition}}</span>
		<span class="col-xs-6" ng-if="details_view.language">{{ 'LIBRARY.ADD.LANGUAGE' | translate }}: {{details_view.language}}</span>
		<span class="col-xs-6" ng-if="details_view.publisher">{{ 'LIBRARY.ADD.PUBLISHER' | translate }}: {{details_view.publisher}}</span>
		<span class="col-xs-6" ng-if="details_view.published">{{ 'LIBRARY.ADD.PUBLISHED' | translate }}: {{details_view.published}}</span>
	</div>
	<hr>
	<h3 class="text-center">{{ 'HOME.MODAL.OWNERS' | translate }}</h3>
	<table class="table table-striped" style="margin-bottom:0px">
		<thead>
			<tr><th>{{ 'WELCOME.USERNAME' | translate }}</th><th class="hidden-xs">{{ 'WELCOME.EMAIL' | translate }}</th><th>{{ 'HOME.MODAL.LABEL' | translate }}</th><th></th></tr>
		</thead>
		<tbody>
			<tr ng-repeat="owner in owners" style="list-style:none">
				<td><i class="icon-user"></i> {{owner.username}}</td>
				<td class="hidden-xs">{{owner.username}}@bibliofair.com</td>
				<td>
					<span class="label label-primary" ng-if="owner.actions.sell">{{ 'HOME.MODAL.SELL' | translate }}</span>
					<span class="label label-primary" ng-if="owner.actions.donate">{{  'HOME.MODAL.DONATE' | translate  }}</span>
					<span class="label label-primary" ng-if="owner.actions.lend">{{  'HOME.MODAL.LEND' | translate  }}</span>
				</td>
				<td><button type="button" class="btn btn-sm" ng-class="{'btn-success':!owner.style, 'btn-default':owner.style}" ng-disabled="owner.style" ng-click="sendRequest(owner)"><i class="icon-envelope"></i> {{ owner.message }}</button></td>
			</tr>
		</tbody>
	</table>
	<br>
	<div id="map_row" class="row" style="margin:0px">
		<div id="map" ng-model="map" class="col-xs-12 map" style="height:300px;padding:0px" ng-init="draw_map()"></div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" ng-click="cancel()">{{ 'DETAIL.CLOSE' | translate }}</button>
</div>
