<div menu="browse"></div>
<div class="container"><!-- style="margin-top:40px">-->
	<div class="row" style="height:70px">
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="row">
				<form class="col-xs-12 col-sm-6 col-sm-offset-3" action="" role="search">
					<h2 class="text-center">{{ 'HOME.BROWSE' | translate }}</h2>
					<div class="form-group">
						<label class="sr-only" for="search-box">Search box</label>
						<input type="text" ng-model="search" ng-change="retrieveBooks()" class="form-control" placeholder="{{ 'NAV.SEARCH.PLACEHOLDER' | translate }}">
					</div>
				</form>
				<div class="col-sm-3 hidden-xs">
					<div class="row">
						<div class="col-lg-12">
							<h4>{{ 'HOME.ORDER.TEXT' | translate }}</h4>
							<div class="radio">
								<label>
									<input type="radio" ng-model="bookOrder" name="order" value="distance" checked>
									{{ 'HOME.ORDER.DISTANCE' | translate }}
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" ng-model="bookOrder" name="order" value="title">
									{{ 'HOME.ORDER.TITLE' | translate }}
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" ng-model="bookOrder" name="order" value="author">
									{{ 'HOME.ORDER.AUTHOR' | translate }}
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<ul class="bookview row">
				<div class="col-xs-12 text-center" style="top:20px;padding-bottom:30px" ng-if="loading">
					<i class="icon-spinner icon-spin icon-3x"></i>
				</div>
				<li class="col-lg-3 col-md-4 col-sm-6" ng-repeat="book in books | filter:search | orderBy:bookOrder | paginationShift:(currentPage-1)*pageSize | limitTo:pageSize">
				<div class="well" ng-click="open(book)" style="padding-right:28px;">
						<h4>{{book.title | shorten:41}}</h4>
						<i style="position:absolute;bottom:20px">{{book.author | shorten:25}}</i>
						<i class="icon-info-sign icon-large" style="margin-right:15px; position:absolute; top:19px; right:4px"></i>
						<!--<div class="text-right" style="margin-right:15px; position:absolute; bottom:15px; right:0px;width:60px">
							<span class="label label-primary" ng-if="book.actions.donate">{{  'HOME.MODAL.DONATE' | translate  }}</span>
							<span class="label label-primary" ng-if="book.actions.lend">{{  'HOME.MODAL.LEND' | translate  }}</span>
							<span class="label label-primary" ng-if="book.actions.sell">{{ 'HOME.MODAL.SELL' | translate }}</span>
						</div>-->
				</div>
				</li>
			</ul>
			<div class="container col-xs-12 text-center">
				<pagination total-items="books.length" page="currentPage" items-per-page="pageSize" next-text="{{'OTHER.PAGINATION.NEXT' | translate}}" previous-text="{{'OTHER.PAGINATION.PREVIOUS' | translate}}"></pagination>
			</div>
		</div>
	</div>
</div>
<div class="row" style="heigth:30px;min-height:30px;width:100%">
</div>
<div class="row info" info="home">
</div>
