
<div menu="browse"></div>
<div class="container"><!-- style="margin-top:40px">-->
	<div class="row" style="height:70px">
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h2 class="text-center">{{ 'HOME.BROWSE' | translate }}</h2>
			<form class="row" action="" role="search">
				<div class="form-group col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
					<label class="sr-only" for="search-box">Search box</label>
					<input type="text" ng-model="search" ng-change="retrieveBooks()" class="form-control" placeholder="{{ 'NAV.SEARCH.PLACEHOLDER' | translate }}">
				</div>
			</form>
			<ul class="bookview row">
				<li class="col-lg-3 col-md-4 col-sm-6" ng-repeat="book in books | filter:search | orderBy:bookOrder | paginationShift:(currentPage-1)*pageSize | limitTo:pageSize">
				<div class="well" ng-click="open(book)">
					<div class="row">
						<div class="col-xs-11">
							<h4>{{book.title | shorten:41}}</h4>
							<i>{{book.author | shorten:25}}</i>
						</div>
						<i class="icon-info-sign icon-large" style="margin-right:15px; position:absolute; top:19px; right:4px"></i>
					</div>
				</div>
				</li>
			</ul>
			<div class="container col-xs-12 text-center">
				<pagination total-items="books.length" page="currentPage" items-per-page="pageSize" next-text="{{'OTHER.PAGINATION.NEXT' | translate}}" previous-text="{{'OTHER.PAGINATION.PREVIOUS' | translate}}"></pagination>
			</div>
		</div>
		<!--
		<div class="col-xs-3">
			<div class="row">
				<h3 class="text-center">{{ 'HOME.WISHLIST' | translate }}</h3>
			</div>
			<hr>
			<div class="row">
				<div class="col-lg-12">
					<h4>{{ 'HOME.ORDER.TEXT' | translate }}</h4>
					<div class="radio">
						<label>
							<input type="radio" ng-model="bookOrder" name="order" id="optionsRadios1" value="title" checked>
							{{ 'HOME.ORDER.TITLE' | translate }}
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" ng-model="bookOrder" name="order" id="optionsRadios2" value="author">
							{{ 'HOME.ORDER.AUTHOR' | translate }}
						</label>
					</div>
				</div>
			</div>
		</div>
		-->
	</div>
</div>
<div class="row" style="heigth:30px;min-height:30px;width:100%">
</div>
<div class="row info" info="home">
</div>
