<style type="text/css">
	div.modal {
		display:block;
	}
</style>
<div class="modal-header text-center">
	<button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
	<h2>{{details_view.title}}</h2>
	<p>
	<i>{{ 'DETAIL.BY' | translate }} {{details_view.author}}</i>
	</p>
</div>
<div class="modal-body">
	<span ng-if="details_view.subtitle">{{ 'LIBRARY.ADD.SUBTITLE' | translate }}: {{details_view.subtitle}}</br></span>
	<span ng-if="details_view.isbn">{{ 'LIBRARY.ADD.ISBN' | translate }}: {{details_view.isbn}}</br></span>
	<span ng-if="details_view.volume">{{ 'LIBRARY.ADD.VOLUME' | translate }}: {{details_view.volume}}</br></span>
	<span ng-if="details_view.edition">{{ 'LIBRARY.ADD.EDITION' | translate }}: {{details_view.edition}}</br></span>
	<span ng-if="details_view.language">{{ 'LIBRARY.ADD.LANGUAGE' | translate }}: {{details_view.language}}</br></span>
	<span ng-if="details_view.publisher">{{ 'LIBRARY.ADD.PUBLISHER' | translate }}: {{details_view.publisher}}</br></span>
	<span ng-if="details_view.published">{{ 'LIBRARY.ADD.PUBLISHED' | translate }}: {{details_view.published}}</br></span>
	<br>
</div>
<div class="modal-footer">
	<button class="btn btn-primary pull-left" ng-click="remove()">{{ 'DETAIL.REMOVE' | translate }}</button>
	<button class="btn btn-warning" ng-click="cancel()">{{ 'DETAIL.CLOSE' | translate }}</button>
</div>
