<style type="text/css">
	.btn-sm {
		margin-bottom:10px;
	}
	.row > .btn {
		text-align: left;
	}
</style>
<div class="modal-header text-center">
	<button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
	<h2 style="padding-left:12px">{{details_view.title}}</h2>
	<p>
	<i>{{ 'DETAIL.BY' | translate }} {{details_view.author}}</i>
	</p>
</div>

<div class="modal-body">
	<div class="row" style="padding-right:15px">
		<div class="col-xs-8 col-sm-10">
			<span ng-if="details_view.subtitle">{{ 'LIBRARY.ADD.SUBTITLE' | translate }}: {{details_view.subtitle}}</br></span>
			<span ng-if="details_view.isbn">{{ 'LIBRARY.ADD.ISBN' | translate }}: {{details_view.isbn}}</br></span>
			<span ng-if="details_view.volume">{{ 'LIBRARY.ADD.VOLUME' | translate }}: {{details_view.volume}}</br></span>
			<span ng-if="details_view.edition">{{ 'LIBRARY.ADD.EDITION' | translate }}: {{details_view.edition}}</br></span>
			<span ng-if="details_view.language">{{ 'LIBRARY.ADD.LANGUAGE' | translate }}: {{details_view.language}}</br></span>
			<span ng-if="details_view.publisher">{{ 'LIBRARY.ADD.PUBLISHER' | translate }}: {{details_view.publisher}}</br></span>
			<span ng-if="details_view.published">{{ 'LIBRARY.ADD.PUBLISHED' | translate }}: {{details_view.published}}</br></span>
			<br>
		</div>
		<div class="col-xs-4 col-sm-2" ng-show="!details_view.borrowed">
			<div class="row">
				<button class="col-xs-12 btn btn-sm" ng-class="{'btn-primary':!details_view.actions.sell, 'btn-success':details_view.actions.sell}" ng-model="details_view.actions.sell" ng-click="details_view.actions.sell=!details_view.actions.sell;updateActions()"><i ng-class="{'fa-check-square-o':details_view.actions.sell, 'fa-square-o':!details_view.actions.sell}" class="fa fa-lg"></i> {{ 'LIBRARY.ADD.ACTIONS.SELL' | translate }}</button>
			</div>
			<div class="row">
				<button class="col-xs-12 btn btn-sm" ng-class="{'btn-primary':!details_view.actions.donate, 'btn-success':details_view.actions.donate}" ng-model="details_view.actions.donate" ng-click="details_view.actions.donate=!details_view.actions.donate;updateActions()"><i ng-class="{'fa-check-square-o':details_view.actions.donate, 'fa-square-o':!details_view.actions.donate}" class="fa fa-lg"></i> {{ 'LIBRARY.ADD.ACTIONS.DONATE' | translate }}</button>
			</div>
			<div class="row">
				<button class="col-xs-12 btn btn-sm" ng-class="{'btn-primary':!details_view.actions.lend, 'btn-success':details_view.actions.lend}" ng-model="details_view.actions.lend" ng-click="details_view.actions.lend=!details_view.actions.lend;updateActions()"><i ng-class="{'fa-check-square-o':details_view.actions.lend, 'fa-square-o':!details_view.actions.lend}" class="fa fa-lg"></i> {{ 'LIBRARY.ADD.ACTIONS.LEND' | translate }}</button>
			</div>
		</div>
	</div>
	<div class="row" style="" ng-show="!details_view.borrowed">
		<form role="form" class="col-xs-12">
			<div class="form-group">
				<label for="book-note">{{ 'LIBRARY.ADD.NOTE' | translate }}</label>
				<input type="text" id="book-note" class="form-control" id="" ng-model="details_view.note" placeholder="{{ 'LIBRARY.ADD.NOTE_TEXT' | translate }}">
			</div>
		</div>
	</div>
<div class="modal-footer" ng-show="!details_view.borrowed">
	<div class="row">
		<button ng-show="details_view.lent" class="btn btn-primary" ng-click="transfer.returned(details_view.lent)"><i class="fa fa-arrow-left"></i> {{ 'DETAIL.RETURNED' | translate }}</button>
		
		<button ng-show="!details_view.lent" class="btn btn-success pull-left" ng-click="transferEnable=!transferEnable" ng-disabled="transferEnable"><i class="fa fa-share"></i> {{ 'LIBRARY.TRANSFER.BUTTON' | translate }}</button>
		<button ng-show="!details_view.lent" class="btn btn-primary" ng-click="remove()"><i class="fa fa-trash-o"></i> {{ 'DETAIL.REMOVE' | translate }}</button>
		<button class="btn btn-warning" ng-click="edit();"><i class="fa fa-edit"></i> {{ 'LIBRARY.EDIT' | translate }}</button>
		<button class="btn btn-warning" ng-click="save();cancel()">{{ 'DETAIL.SAVE_AND_CLOSE' | translate }}</button>
	</div>
	<hr class="wide" ng-show="transferEnable">
	<div id="transfer" class="row" ng-show="transferEnable">
		<span>{{ 'LIBRARY.TRANSFER.TEXT' | translate }} </span>
		<select class="form-control" ng-model="transfer.type" ng-init="transfer.type='permanent'">
			<option value="permanent" selected="selected">{{ 'LIBRARY.TRANSFER.SELL' | translate }}</option>
			<option value="permanent">{{ 'LIBRARY.TRANSFER.DONATE' | translate }}</option>
			<option value="temporary">{{ 'LIBRARY.TRANSFER.LEND' | translate }}</option>
		</select>
		<span>{{ 'LIBRARY.TRANSFER.TO_USER' | translate }} </span>
		<input type="text" class="form-control" id="" ng-model="transfer.user" placeholder="{{ 'LIBRARY.TRANSFER.DEFAULT' | translate }}">
		<button class="btn btn-success" ng-click="transfer.send()"><i class="fa fa-share"></i> {{ 'LIBRARY.TRANSFER.ACTION' | translate }}</button>
		<span class="help-block text-danger" ng-show="transfer.error">{{transfer.error}}</span>
		<span class="help-block" ng-show="transfer.success">{{transfer.success}}</span>
	</div>
</div>

<div class="modal-footer" ng-show="details_view.borrowed">
	<div class="row">
		<button class="btn btn-warning" ng-click="save();cancel()">{{ 'DETAIL.CLOSE' | translate }}</button>
	</div>
</div>
