<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51fd1d0b46333104"></script>
<script type="text/javascript">
    addthis.layers({
        'theme':'transparent',
        'services':"facebook,twitter",
        'share':{
            'position':'left',
            'numPreferredServices':5,
            'mobile':false,
            'services':'facebook,twitter,google_plusone_share,email'
        }
    });
</script>