module.exports = {
	ip : "",
	port : "",
	mail : {
		key : "",
		server : ""
	},
	database : "",
	facebook : {
		clientID : "",
		clientSecret: "",
		callbackURL : ""
	}, 
	google : {
		clientID : "",
		clientSecret : "",
		callbackURL : ""
	}
};
