@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
.nav, .pagination, .carousel a { 
	cursor: pointer; 
}
h1, h2, h3, h4, h5 {
	margin-top: 10px;
}
.logo {
	font-family: 'Sonsie One', cursive;
	font-size: 22px;
	color:		#FFFFFF;
}
.modal-dialog {
	padding-bottom: 55px;
}
.round {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.well, .btn, .form-control, .modal-content, .pagination > li:first-child > a, .pagination > li:last-child > a {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.navbar {
	border: 0px;
}
.map {
	height:400px;
}
.map img {
	max-width: none;
}
@media (max-width: 400px) {
	#lang {
		display: none;
	}
}
.bookview {
	list-style: none;
	padding: 0px;
}
.bookview li {
	padding: 0px;
}
.bookview li .well {
	cursor: pointer;
	margin: 8px;
	padding: 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 100px;
}
.bookview li :hover {
	background-color: #0F676E;
}
html, body {
	/* Firefox */
	height: -moz-calc(100% - 1px);
	/* WebKit */
	height: -webkit-calc(100% - 1px);
	/* Opera */
	height: -o-calc(100% - 1px);
	/* Standard */
	height: calc(100% - 1px);
	margin:0px;
	padding:0px;
}
.ng-view {
	position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
	width:100%;
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/
	min-height:100%; /* real browsers */
}
.info {
	opacity:0.6;
	filter:alpha(opacity=60);
	position:absolute;
	margin:0px;
	min-height:21px;
	width:100%;
	bottom:-2px;
	right:0px;
	background-color:white;
	color:black;
}
.info_text {
	padding-top:2px;
	margin: 0px;
	font-size:12px;
}
.info_text > ul {
	margin: 0px;
}
.info_text > ul > li > a {
	color: black;
	text-decoration: underline
}
@media screen and (min-width: 768px) {
.modal-dialog {
	width:748px;
}
}
