@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
.logo {
	font-family: 'Sonsie One', cursive;
	font-size: 22px;
	color:		#FFFFFF;
}
//.formlegend {
//	font-family: 'Alegreya', serif;
//	font-size:22px;
//}
.round {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.map {
	height:400px;
}
.map img {
	max-width: none;
}
.bookview {
	list-style: none;
	padding: 0px;
}
.bookview li {
	padding: 0px;
}
.bookview li .well {
	cursor: pointer;
	margin: 8px;
	padding: 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 100px;
}
.bookview li :hover {
	background-color: #0F676E;
}
