<style type="text/css">
	div.modal {
		    display:block;
		}
</style>
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header text-center">
			<button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
			<h2>{{details_view.title}}</h4>
			<p>
			<b><i>{{ 'DETAIL.BY' | translate }} {{details_view.author}}</i></b>
			</p>
		</div>
		<div class="modal-body">
			{{ 'LIBRARY.ADD.SUBTITLE' | translate }}: {{details_view.subtitle}}</br>
			{{ 'LIBRARY.ADD.PUBLISHER' | translate }}: {{details_view.publisher}}</br>
			{{ 'LIBRARY.ADD.PUBLISHED' | translate }}: {{details_view.published}}</br>
			{{ 'LIBRARY.ADD.VOLUME' | translate }}: {{details_view.volume}}</br>
			{{ 'LIBRARY.ADD.EDITION' | translate }}: {{details_view.edition}}</br>
			{{ 'LIBRARY.ADD.LANGUAGE' | translate }}: {{details_view.language}}</br>
			{{ 'LIBRARY.ADD.ISBN' | translate }}: {{details_view.isbn10}}
		</div>
		<div class="modal-footer">
			<button class="btn btn-warning" ng-click="cancel()">{{ 'DETAIL.CLOSE' | translate }}</button>
		</div>
	</div>
</div>
