<style type="text/css">
	div.modal {
		    display:block;
		}
</style>
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header text-center">
			<button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
			<h2>{{details_view.title}}</h4>
			<p>
			<b><i>by {{details_view.author}}</i></b>
			</p>
		</div>
		<div class="modal-body">
			Publisher: {{details_view.publisher}}</br>
			Published in: {{details_view.published}}</br>
			Edition: {{details_view.edition}}</br>
			Volume: {{details_view.edition}}</br>
			Language: {{details_view.language}}</br>
			ISBN-10: {{details_view.isbn10}}</br>
			ISBN-13: {{details_view.isbn13}}
		</div>
		<div class="modal-footer">
			<button class="btn btn-warning" ng-click="cancel()">Close</button>
		</div>
	</div>
</div>
