<div class="navbar navbar-fixed-top navigation">
	<div class="container">

		<!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<!-- Be sure to leave the brand out there if you want it shown -->
		<a class="navbar-brand logo" href="/#!/">BiblioFair</a>

		<!-- Place everything within .nav-collapse to hide it until above 768px -->
		<div class="nav-collapse collapse navbar-responsive-collapse">
			<form class="navbar-form col-lg-5 col-sm-5" action="">
				<div class="input-group">
					<input type="text" ng-model="search" class="form-control textfont" placeholder="I want to read ...">
					<span class="input-group-btn">
						<button class="btn btn-default textfont" type="button">Go!</button>
					</span>
				</div>
			</form>

			<!--
			-->
			<ul class="nav navbar-nav pull-right menu">
				<li><a ng-href="/#!/">Browse</a></li> <li><a ng-href="/#!/library" href="">My library</a></li> <li><a ng-href="/#!/account">Account</a></li> <li><a ng-click="logout()">Sign out</a></li>
			</ul>
		</div><!-- /.nav-collapse -->
	</div><!-- /.container -->
</div><!-- /.navbar -->
<div class="container"><!-- style="margin-top:40px">-->
	<div class="row" style="height:80px">
	</div>
	<div class="row">
		<div class="col-lg-9">
			<div class="col-lg-4 round book-item" ng-repeat="book in books | filter:search | orderBy:bookOrder">
				<div class="thumbnail">
					<div class="row">
						<div class="col-lg-12">
							<h4><b>{{book.name}}</b></h4>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<b><i>{{book.author}}</i></b>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 signup round">
			<div class="row">
				<div class="col-lg-12">
					<h4>Order by:</h4>
					<div class="radio">
						<label>
							<input type="radio" ng-model="bookOrder" name="order" id="optionsRadios1" value="name" checked>
							Title
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" ng-model="bookOrder" name="order" id="optionsRadios2" value="author">
							Author
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
