<div class="col-xs-12 text-center info_text">
	<ul class="list-inline">
		<li ng-if="loc!='welcome'">
		<a href="" ng-click="changeLanguage('en')">{{ 'NAV.ENGLISH' | translate }}</a>
		</li>
		<li ng-if="loc!='welcome'">
		<a href="" ng-click="changeLanguage('cz')">{{ 'NAV.CZECH' | translate }}</a> &nbsp&nbsp |
		</li>
		<li>
		<a href="http://blog.bibliofair.com">Blog</a> &nbsp&nbsp |
		</li>
		<li>
		support@bibliofair.com 
		&nbsp&nbsp
		<a href="http://www.facebook.com/bibliofair" ng-click="ga('send', 'event', 'Facebook site', 'clicked_facebook');"><i class="icon-facebook-sign icon-large" style="color:#4C66A4"></i></a>
		&nbsp&nbsp
		<a href="http://twitter.com/BiblioFair" ng-click="ga('send', 'event', 'Twitter site', 'clicked_twitter');"><i class="icon-twitter-sign icon-large" style="color:#00ACED"></i></a>
		&nbsp&nbsp |
		</li>
		<li>
		&copy 2013 BiblioFair
		</li>
		<!--<li>
		</li>-->
	</ul>
</div>
