<div class="col-xs-12 text-center info_text">
	<ul class="list-inline">
		<li ng-if="loc!='welcome'">
		<a href="" ng-click="changeLanguage('en')">{{ 'NAV.ENGLISH' | translate }}</a>
		</li>
		<li ng-if="loc!='welcome'">
		<a href="" ng-click="changeLanguage('cz')">{{ 'NAV.CZECH' | translate }}</a> &nbsp&nbsp |
		</li>
		<li>
		<a href="http://blog.bibliofair.com">Blog</a> &nbsp&nbsp |
		</li>
		<li>
		support@bibliofair.com &nbsp&nbsp |
		</li>
		<li>
		&copy 2013 BiblioFair
		</li>
		<!--<li>
		Follow Us: 
		<div style="display:inline-block;margin-bottom:-3px;" class="addthis_toolbox addthis_default_style">
			<a class="addthis_button_facebook_follow" addthis:userid="YOUR-PROFILE"></a>
			<a class="addthis_button_twitter_follow" addthis:userid="YOUR-USERNAME"></a>
		</div>
		</li>-->
	</ul>
</div>
