<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand logo" href="/">BiblioFair</a>
	</div>

	<div class="navbar-collapse collapse navbar-responsive-collapse">
		<form class="navbar-form navbar-left hidden-sm" action="" role="search">
			<div class="form-group">
				<label class="sr-only" for="search-box">Search box</label>
				<input type="text" ng-model="search" class="form-control textfont" placeholder="Title, author, ...">
			</div>
			<button class="btn btn-default textfont" type="button">Go!</button>
		</form>
		<ul class="nav navbar-nav navbar-right">
			<li><a ng-href="/">Browse</a></li>
			<li class="active"><a ng-href="/library">My library</a></li> 
			<li><a ng-href="/account">Account</a></li> 
			<li><a href="" ng-click="logout()">Sign out</a></li>
		</ul>
	</div>
</div>
</nav>
<div class="container"><!-- style="margin-top:40px">-->
	<div class="row" style="height:80px">
	</div>
	<div class="row">
		<div class="col-xs-9">
			<div class="col-lg-4 col-sm-6" style="padding:0px" ng-repeat="book in mybooks | filter:search">
				<a data-toggle="modal" ng-click="details(book)" ng-href="#library_details">
					<div class="well" style="margin:8px; padding:10px">
						<div class="row">
							<div class="col-xs-10">
								<h4>{{book.title}}</h4>
								<p>
								<b><i>{{book.author}}</i></b>
								</p>
							</div>
							<div class="col-xs-2">
								<div class="row" style="text-align:right">
									<i class="icon-edit icon-large" style="margin-right:15px"></i>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="modal fade" id="library_details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h2>{{details_view.title}}</h4>
							<p>
							<b><i>by {{details_view.author}}</i></b>
							</p>
						</div>
						<div class="modal-body">
							<span>Publisher: {{details_view.publisher}}</span>
							<span>Published on: {{details_view.published}}</span>
							<span>Edition: {{details_view.edition}}</span>
							<span>ISBN-10: {{details_view.isbn10}}</span>
							<span>ISBN-13: {{details_view.isbn13}}</span>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
		<div class="col-xs-3">
			<div class="row">
				<div class="col-lg-12">
					<h3>Add books to your library</h3>
					<form>
						<fieldset>
							<!-- <legend>Legend</legend> -->
							<div class="form-group">
								<label class="sr-only" for="new_title">Book title:</label>
								<input type="text" id="new_title" ng-model="newbook.title" id="title_input" class="form-control twitter-typeahead" placeholder="Title">
							</div>
							<div class="form-group">
								<label class="sr-only" for="new_author">Author:</label>
								<input type="text" id="new_author" ng-model="newbook.author" class="form-control" placeholder="Author">
							</div>
							<button ng-click="addbook()" class="btn btn-default btn-success pull-center" style="margin-bottom:15px; width:100px">Add book</button>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
