<style type="text/css">
.my-svg-alternate {
  display: none;
}
.no-svg .my-svg-alternate {
  display: block;
  width: 100px;
  height: 100px;
  background-image: url(image.png);
}
</style>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" ng-init="collapse()" ng-click="isCollapsed = !isCollapsed">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand logo" href="/" style="padding:12px 15px">
			<!--<object type="image/svg+xml" data="img/logo.svg" height="24" width="34"></object>
			<svg type="image/svg+xml" data="img/logo.svg" height="24" width="34"></svg>-->
			<svg width="34" height="24">
			  <image xlink:href="img/logo.svg" src="img/logo.png" width="34" height="24"/>
			</svg>
			BiblioFair &nbsp;&nbsp;
		</a>
	</div>

	<div class="navbar-collapse navbar-responsive-collapse" ng-show="isCollapsed">
		<ul class="nav navbar-nav navbar-right">
			<li ng-class="browse"><a ng-href="/">{{ 'NAV.BROWSE' | translate }}</a></li>
			<li ng-class="library"><a ng-href="/library">{{ 'NAV.LIBRARY' | translate }}</a></li> 
			<li ng-class="account"><a ng-href="/account">{{ 'NAV.ACCOUNT' | translate }}</a></li> 
			<li><a href="" ng-click="logout()">{{ 'NAV.SIGN_OUT' | translate }}</a></li>
		</ul>
	</div>
</div>
</nav>
<!--  NOVA VERZE az bude bootstrap-ui opraveno
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand logo" href="/" style="padding:12px 15px">
			<object type="image/svg+xml" data="img/logo.svg" height="24" width="34"></object>
			BiblioFair &nbsp;&nbsp;
		</a>
	</div>

	<div class="collapse navbar-collapse" id="navbar-menu">
		<ul class="nav navbar-nav navbar-right">
			<li ng-class="browse"><a ng-href="/">{{ 'NAV.BROWSE' | translate }}</a></li>
			<li ng-class="library"><a ng-href="/library">{{ 'NAV.LIBRARY' | translate }}</a></li> 
			<li ng-class="account"><a ng-href="/account">{{ 'NAV.ACCOUNT' | translate }}</a></li> 
			<li><a href="" ng-click="logout()">{{ 'NAV.SIGN_OUT' | translate }}</a></li>
		</ul>
	</div>
	</div>
</nav>
-->
