<div class="container" ng-controller="HeaderController">
	<div class="navbar-header">
		<!-- show menu (responsive button) -->
		<button type="button" class="navbar-toggle" ng-init="collapse()" ng-click="isCollapsed = !isCollapsed">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<!-- logo -->
		<a class="navbar-brand" id="logo" ng-href="/">
			<svg width="34" height="24">
				<image xlink:href="img/logo.svg" src="img/logo.png" width="34" height="24" />
			</svg>
			<span>BiblioFair</span>
		</a>
	</div>

	<!-- authenticated user -->
	<div class="navbar-collapse navbar-responsive-collapse navbar-right" ng-show="isCollapsed && authenticated">
		<ul class="nav navbar-nav">
			<li ng-class="isActive('/home')"><a ng-href="/home">{{ 'NAV.BROWSE' | translate }}</a></li>
			<li ng-class="isActive('/library')"><a ng-href="/library">{{ 'NAV.LIBRARY' | translate }}</a></li> 
			<li ng-class="isActive('/account')"><a ng-href="/account" title="{{ 'NAV.ACCOUNT' | translate }}"><i class="fa fa-user"></i> {{ user.username}}</a></li> 
			<li><a ng-href="" title="{{ 'NAV.SIGN_OUT' | translate }}" ng-click="signOut()"><i class="fa fa-sign-out fa-lg"></i></a></li>
		</ul>
	</div>

	<!-- user NOT authenticated -->
	<div class="navbar-collapse navbar-responsive-collapse navbar-right" ng-show="isCollapsed && !authenticated">
		<ul class="nav navbar-nav">
			<li>
				<a id="signinTrigger" ng-click="toggleSignin()">
					<span class="glyphicon glyphicon-log-in"></span>
					{{ 'WELCOME.SIGNIN_TEXT'|translate }}
				</a>
				<ul id="signin" class="dropdown-menu"><li>
						<form name="signinForm" novalidate>
							<div class="form-group">
								<label class="sr-only" for="signinLogin">{{ 'WELCOME.EMAIL_OR_USERNAME' | translate }}</label>
								<input type="text" id="signinLogin" ng-model="signin.login"  class="form-control input-sm" placeholder="{{ 'WELCOME.EMAIL_OR_USERNAME' | translate }}" required>
							</div>
							<div class="form-group">
								<label class="sr-only" for="signinPassword">{{ 'WELCOME.PASSWORD' | translate }}</label>
								<input type="password" id="signinPassword" ng-model="signin.password" class="form-control input-sm" placeholder="{{ 'WELCOME.PASSWORD' | translate }}" required>
								<div class="col-xs-12 text-right" style="color:#888888">	
									<i class="fa fa-question-circle fa-lg" ng-click="recoverPassword()" style="position:absolute;top:-21px; right:12px; cursor:pointer"></i> 
								</div>
							</div>

							<label class="checkbox">
								<input type="checkbox" value="remember-me" ng-model="signin.remember"> <span class="remember-me">{{ 'WELCOME.REMEMBER_ME' | translate }}</span>
							</label>

							<button ng-click="signIn()" ng-disabled="signinForm.$invalid" class="btn btn-success btn-sm btn-block"><b>{{ 'WELCOME.SIGNIN' | translate }}</b></button>
							<span class="help-block text-danger">{{login_message}}</span>
						</form>

						<div id="loginSocialButtons">
							<a class="btn btn-block btn-social btn-facebook btn-sm" href="/signin/facebook" target="_self">
								<i class="fa fa-facebook"></i>{{ 'WELCOME.SIGNIN_FACEBOOK' | translate }}
							</a>

							<a class="btn btn-block btn-social btn-google-plus btn-sm" href="/signin/google" target="_self">
								<i class="fa fa-google-plus"></i>{{'WELCOME.SIGNIN_GOOGLE' | translate }}
							</a>
						</div>
					</li></ul>

				<!-- languages -->
			<li class="dropdown">
				<a class="dropdown-toggle">
					<span class="glyphicon glyphicon-globe"></span>
					{{ 'NAV.LANGUAGE' | translate }}
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a role="menuitem" tabindex="-1" ng-init="lang = 'en'" ng-click="changeLanguage('en')">{{ 'NAV.ENGLISH' | translate }}</a></li>
					<li><a role="menuitem" tabindex="-1" ng-click="changeLanguage('cs')">{{ 'NAV.CZECH' | translate }}</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>


<!--  NOVA VERZE az bude bootstrap-ui opraveno -->
<!--
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand logo" href="/" style="padding:12px 15px">
			<svg width="34" height="24" style="margin-top:2px; margin-bottom:-2px">
			  <image xlink:href="img/logo.svg" src="img/logo.png" width="34" height="24" style="margin-top:2px; margin-bottom:-2px; vertical-align:baseline;" />
			</svg>
			<span style="margin-left:-7px">
			BiblioFair &nbsp;&nbsp;
			</span>
		</a>
	</div>

	<div class="collapse navbar-collapse" id="navbar-menu">
		<ul class="nav navbar-nav navbar-right">
			<li ng-class="browse"><a ng-href="/">{{ 'NAV.BROWSE' | translate }}</a></li>
			<li ng-class="library"><a ng-href="/library">{{ 'NAV.LIBRARY' | translate }}</a></li> 
			<li ng-class="account"><a ng-href="/account">{{ 'NAV.ACCOUNT' | translate }}</a></li> 
			<li><a href="" ng-click="logout()">{{ 'NAV.SIGN_OUT' | translate }}</a></li>
		</ul>
	</div>
	</div>
</nav>
-->
