<style type="text/css">
	div.modal {
		margin-top:60px;
		display:block;
	}
</style>
<div class="modal-header text-center">
	<button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
	<h2>{{ 'RECOVERY.HEADING' | translate }}</h2>
</div>
<div class="modal-body">
	<form class="form-inline text-center row" role="form">
		<div class="text-center col-xs-12 col-sm-10 col-sm-offset-1">
			<div class="form-group" style="width:65%;display:inline-block">
				<label class="sr-only" for="recovery_id">{{ 'RECOVERY.EMAIL' | translate }}</label>
				<input type="email" id="recovery_id" ng-model="email"  class="form-control" placeholder="{{ 'RECOVERY.EMAIL' | translate }}    " required>
			</div>
			<button class="btn btn-warning" ng-click="recover(email)">{{ 'RECOVERY.SEND' | translate }}</button>
		</div>
	</form>
</div>
