<style type="text/css">
	body {
		background: url('./../img/book_web.jpg') no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.well {
		opacity:0.9;
		filter:alpha(opacity=90);
	}
	.well-alt {
		background-color:rgba(255, 255, 255, 0.9);
		color:black;
		border:0px;
		padding:8px;
	}
	.white_bg {
		display:inline-block;
		background-color:white;
		background: rgba(255, 255, 255, 0.7);
		padding:10px;
	}
	#welcome_text {
		margin-left: -5px;
		margin-right: -5px;
	}
	.content_row {
		padding-top: 60px;
		padding-bottom: 50px;
		background: rgba(0, 0, 0, 0.6);
	}
	.content_row_white {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.popover {
		color:black;
	}
	.btn-success {
		background-color:#38ba2b;
		border-color:#258d1b;
	}
	.bookview > li :hover {
		background-color: #037383;
	}
	@media (max-width: 1199px) {
		.book {
			display:none;
		}
	}
	@media (max-width: 767px) {
		#heading-main {
			padding-top:50px;
		}
	}
	.bubble 
	{
		position: absolute;
		top:65px;
		margin-left:20px;
		width: 200px;
		height: 35px;
		padding: 0px;
		background: #FFFFFF;
		-webkit-border-radius: 9px;
		-moz-border-radius: 9px;
		border-radius: 9px;
		text-align:center;
		color:black;
		opacity: 0;
	}

	.bubble:after 
	{
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 0 9px 13px;
		border-color: #FFFFFF transparent;
		display: block;
		width: 0;
		z-index: 1;
		top: -13px;
		left: 46px;
	}
	.bubble-enter {
		-webkit-transition: 1s linear all; /* Chrome */
		transition: 1s linear all;
		transition-delay: 2s;
		-webkit-transition-delay: 2s;
		opacity: 1;
	}
	.bubble-enter.bubble-enter-active {
		opacity: 0;
	}
	#arrow {
		position:fixed;
		bottom:40px;
		right:5%;
		display:block;
	}
</style>
<i id="arrow" class="fa fa-chevron-down fa-4x" ng-show="!bottom"></i>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" ng-init="collapse()" ng-click="isCollapsed = !isCollapsed">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand logo" ng-href="/" style="padding:12px 15px">
			<svg width="34" height="24" style="margin-top:2px; margin-bottom:-2px">
			<image xlink:href="img/logo.svg" src="img/logo.png" width="34" height="24" style="margin-top:2px; margin-bottom:-2px; vertical-align:baseline;" />
			</svg>
			<span style="margin-left:-7px">
				BiblioFair 
			</span>
		</a>
	</div>

	<div class="navbar-collapse navbar-responsive-collapse navbar-right" ng-show="isCollapsed">
		<ul class="nav navbar-nav">
			<li class="dropdown" style="cursor:pointer" id="login_all">
			<a class="dropdown-toggle" id="login_opener">
				<i class="fa fa-sign-in fa-lg"></i> 
				{{ 'WELCOME.SIGNIN_TEXT' | translate }}
			</a>
			<ul class="dropdown-menu" style="color: black" ng-click="login_open();" id="login">
				<li style="padding:10px 15px;">
				<form style="width:170px">
					<fieldset>
						<div class="form-group" id="div_login_id">
							<label class="sr-only ie-show" for="login_id">{{ 'WELCOME.EMAIL_OR_USERNAME' | translate }}</label>
							<input type="text" id="login_id" ng-model="login_id"  class="form-control input-sm" placeholder="{{ 'WELCOME.EMAIL_OR_USERNAME' | translate }}" required autofocus>
						</div>
						<div class="form-group" id="div_login_password">
							<label class="sr-only" for="login_password">{{ 'WELCOME.PASSWORD' | translate }}</label>
							<input type="password" id="login_password" ng-model="login_password" class="form-control input-sm" placeholder="{{ 'WELCOME.PASSWORD' | translate }}" required>
							<div class="col-xs-12 text-right" style="color:#888888">	
								<i class="fa fa-question-circle fa-lg" ng-click="open()" style="position:absolute;top:-21px; right:12px; cursor:pointer"></i> 
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<button ng-click="login()" class="btn btn-success btn-sm" style="margin-bottom:0px; min-width:100px"><b>{{ 'WELCOME.SIGNIN' | translate }}</b></button>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<p class="help-block text-danger" style="color:black">{{login_message}}</p>
							</div>
						</div>
					</fieldset>
				</form>
				</li>
			</ul>
			</li>
			<li class="dropdown" style="cursor:pointer" >
			<a class="dropdown-toggle">
				<i class="fa fa-globe fa-lg"></i> 
				{{ 'NAV.LANGUAGE' | translate }}
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu" style="color: black">
				<li><a role="menuitem" tabindex="-1" ng-init="lang='en'" ng-click="changeLanguage('en')">{{ 'NAV.ENGLISH' | translate }}</a></li>
				<li><a role="menuitem" tabindex="-1" ng-click="changeLanguage('cz')">{{ 'NAV.CZECH' | translate }}</a></li>
			</ul>
			</li>
		</ul>
	</div>
</div>
</nav>
<div class="container" style="padding-top:90px;padding-bottom:30px;" id="top">
	<div class="row" ng-init="bubble=true">
		<!-- Contents -->
		<div class="bubble" ng-animate=" 'bubble' " ng-if="books_available"><h5>{{ books_available + " " + ('WELCOME.BOOKS_AVAILABLE' | translate) }}</h5></div>
		<div class="col-xs-12 text-center" id="heading-main">
			<h1 style="color:black; margin-bottom:30px" class="">{{ 'WELCOME.HEADING' | translate }}</h1>
		</div>
		<div class="col-xs-12 col-sm-8 col-sm-offset-2">
			<div class="well" id="welcome_text" style="padding:35px;background-color:rgba(255, 255, 255, 0.9);color:black;border:0px;">
				<p style="font-size:18px;padding-top:5px;">
				{{ 'WELCOME.TEXT1' | translate }}
				</p>
				<br>
				<p style="font-size:18px;margin-bottom:0px;">
				{{ 'WELCOME.TEXT2' | translate }}
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<a ng-href="" class="bottom"><button type="button text-center col-sm-8" class="btn btn-lg btn-success"><span class="hidden-xs">{{  'WELCOME.REGISTER_ACTION' | translate  }}</span><span class="visible-xs">{{  'WELCOME.REGISTER_ACTION_SMALL' | translate  }}</span></button></a>
		</div>
	</div>
</div>
<div class="content_row">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-xs-12">
				<h2 class="text-center" style="margin-bottom:30px;">{{  'NAV.SEARCH.HEADING' | translate  }}</h2>
				<form class="row" action="" role="search">
					<div class="form-group col-xs-12 col-sm-8 col-sm-offset-2">
						<label class="sr-only" for="search-box">Search box</label>
						<input type="text" ng-model="search_query" ng-change="retrieveBooks()" class="form-control" placeholder="{{ 'NAV.SEARCH.PLACEHOLDER' | translate }}">
					</div>
				</form>
				<ul class="bookview row">
					<li class="col-lg-4 col-sm-6 col-xs-12" ng-repeat="book in filteredBooks = (books | filter:search_query | orderBy:bookOrder | limitTo:6)" ng-animate=" 'animate' " ng-class="{book: ($index==4 || $index==5)}">
						<div class="well" style="cursor:default">
							<h4>{{book.title | shorten:41}}</h4>
							<i style="position:absolute;bottom:20px">{{book.author | shorten:25}}</i>
						</div>
					</li>
					<div ng-if="filteredBooks.length==0" class="text-center" style="padding:15px">
						<p>{{ 'NAV.SEARCH.NOT_FOUND' | translate }}</p>
					</div>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center">
				<a ng-href="" class="bottom"><button type="button text-center col-sm-8" class="btn btn-lg btn-success"><span class="hidden-xs">{{  'WELCOME.REGISTER_ACTION' | translate  }}</span><span class="visible-xs">{{  'WELCOME.REGISTER_ACTION_SMALL' | translate  }}</span></button></a>
			</div>
		</div>
	</div>
</div>
<div class="content_row_white">
	<div class="container" style="padding-top:30px;padding-bottom:30px">
		<div class="row" style="margin-bottom:20px;color:black">
			<div class="col-xs-6 text-center">
				<h3 class="text-center">{{ 'WELCOME.PROCESS.READER' | translate }}</h3>
			</div>
			<div class="col-xs-6 text-center">
				<h3 class="text-center">{{ 'WELCOME.PROCESS.OWNER' | translate }}</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1 hidden-xs" style="color:black;font-size:26px;font-family:times;padding:20px">
			</div>
			<div class="col-xs-6 col-sm-4 text-center">
				<div class="well well-alt">
					<h4>1. {{ 'WELCOME.PROCESS.CHOOSE' | translate }}</h4>
				</div>
			</div>
			<div class="col-sm-1">
			</div>
			<div class="col-sm-1 hidden-xs" style="color:black;font-size:26px;font-family:times;padding:20px">
			</div>
			<div class="col-xs-6 col-sm-4 text-center">
				<div class="well well-alt">
					<h4>1. {{ 'WELCOME.PROCESS.ADD_BOOKS' | translate }}</h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1 hidden-xs" style="">
			</div>
			<div class="col-xs-6 col-sm-4 text-center">
				<div class="well well-alt">
					<h4>2. {{ 'WELCOME.PROCESS.SEND' | translate }}</h4>
				</div>
			</div>
			<div class="col-sm-1">
			</div>
			<div class="col-sm-1 hidden-xs" style="color:black;font-size:26px;font-family:times;padding:20px">
			</div>
			<div class="col-xs-6 col-sm-4 text-center">
				<div class="well well-alt">
					<h4>2. {{ 'WELCOME.PROCESS.RECIEVE' | translate }}</h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3 col-sm-4">
			</div>
			<div class="col-xs-6 col-sm-4 text-center">
				<div class="well well-alt">
					<h4>3. {{ 'WELCOME.PROCESS.MEET' | translate }}</h4>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content_row" style="padding-top:40px;padding-bottom:100px">
	<div class="container">
		<div class="row">
			<h2 class="text-center">{{  'WELCOME.HEADING2' | translate  }}</h2>
			<div class="col-md-4 col-md-offset-4 col-xs-12 col-sm-6 col-sm-offset-3">
				<div class="" id="signup" style="padding-top:18px">
					<form>
						<fieldset>
							<legend style="border:0px;margin-bottom:10px;">{{ 'WELCOME.REGISTER_TEXT' | translate }}</legend> 
							<div class="form-group input-prepend" id="div_signup_username">
								<label class="sr-only" for="signup_username">{{ 'WELCOME.USERNAME' | translate }}</label>
								<input type="text" id="username" ng-model="signup_username" class="form-control" placeholder="{{ 'WELCOME.USERNAME' | translate }}" required>
							</div>
							<div class="form-group" id="div_signup_email">
								<label class="sr-only" for="signup_email">{{ 'WELCOME.EMAIL' | translate }}</label>
								<input type="email" id="email" ng-model="signup_email" class="form-control" placeholder="{{ 'WELCOME.EMAIL' | translate }}" required>
							</div>
							<div class="form-group" id="div_signup_password">
								<label class="sr-only" for="signup_password">{{ 'WELCOME.PASSWORD' | translate }}</label>
								<input type="password" ng-model="signup_password" class="form-control" placeholder="{{ 'WELCOME.PASSWORD' | translate }}" required>
							</div>
							<div class="row">
								<div class="col-xs-5">
									<button ng-click="signup()" class="btn btn-success" style="margin-bottom:0px; min-width:100px"><b>{{ 'WELCOME.JOIN' | translate }}</b></button>
								</div>
								<div class="col-xs-7">
									<p class="help-block text-danger">{{signup_message}}</p>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row info" info="welcome">
</div>
