<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ng="http://angularjs.org" id="ng-app" lang="en">
	{% include '../includes/head.html' %}
	<body>
		<!-- errors -->
		{% if errors.length || infos.length %}
		<div id="flashes">
			<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)"><span ng-bind="alert.msg"></span></alert>
			<script type="text/javascript">
				window.alerts = [];
				window.infos = [];
				{% for error in errors %}
					{% if error.normalized %}
						window.alerts.push({msg:'{{error.message}}', type: 'danger'});
					{% else %}
						window.alerts.push({msg:'{{error}}', type: 'danger'});
					{% endif %}
				{% endfor %}

				{% for info in infos %}
					window.alerts.push({msg:'{{info.message}}', type: 'info'});
				{% endfor %}
			</script>
		</div>
		{% endif %}

		<!-- include menu in all the sites -->
		<nav class="navbar navbar-default navbar-fixed-top" ng-include="'partials/menu.html'" role="navigation"></nav>

		<!-- Content -->
		{% block content %}{% endblock %}
		<!-- Content End -->

		<!-- AddThis SmartLayer -->
		{% include '../includes/addThis.html' %}
		<!-- UserVoice -->
		{% include '../includes/userVoice.html' %}

		<!-- include info in all the sites -->
		<div class="info" ng-include="'partials/info.html'"></div>

		{% include '../includes/foot.html' %}

	</body>
</html>
